<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Todoshido needs speech recognition to create todos from your voice.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Todoshido needs microphone access to record your voice for todo creation.</string>
</dict>
</plist>
